<div class="container">
<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

   <p>
    <strong>File:</strong>
  </p>
<%= render "projects/attachment", project: project%>
</div>
</div>
